page-login {
.content{background:#193670;color: #fff;}
.logo{margin: 0 auto;text-align: center;position: relative;top:50px;width: 100%;display: block;}
.inputs{margin-top: 50px;}
.item-ios{background: none;color: #fff;}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,.list-ios > .item-block:first-child{border: none;}
.button-div{margin: 0 auto;text-align: center;}
.inputs ion-list.list-ios{margin-bottom: 0px;}
.error{padding-left: 15px;color: #c55858;padding-bottom: 10px;}
.register-div{width: 100%;text-align: center;color: #fff;position: fixed;bottom: 20px;right: 0;}
.register-div a{color: #fff;}
}
