page-register{
.content{background:#193670;color: #fff;}
.inputs{margin-top: 50px;}
.input-file{height:100px;width:100px;margin: auto;border-radius: 100px;padding: 0;}
.input-file img{width: 100%;height: 100%;margin-top: 4px;}
.input-file.item-ios.item-block .item-inner,.input-file.item-md.item-block .item-inner{padding-right: 0px;}
.input-file .label-ios,.input-file .label-md{margin: 0;}
}